/* Footer.css */
.footer {
  background-color: #87CEFA; /* Sky blue background */
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
  padding: 10px;
}

.footer-section h2,
.footer-section h3 {
  color: hsl(267, 77%, 30%);
  margin-bottom: 10px;
}

.footer-section p {
  color: #06579e;
}

.footer-bottom {
  background-color: #4682B4; /* Darker sky blue */
  color: #ffffff;
  padding: 10px 0;
  margin-top: 3%;
}
